################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj
/obj
/packages
/.vs
/Properties/launchSettings.json
/Startup_NoNGen.csv
/Startup_NGen.csv
/SerializationPerf.csv
/Properties/PublishProfiles/FolderProfile.pubxml.user
/Properties/PublishProfiles/FolderProfile.pubxml
