################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj
/obj
/packages
/.vs
/Properties/launchSettings.json
